<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital@1&family=Ubuntu:wght@300&display=swap"
          rel="stylesheet">
    <title>Registro</title>
    <link rel="stylesheet" href="registration.css">
</head>
<body>
    <div>
        <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
             th:text="${mensaje}"
             class="danger">
        </div>

        <div th:if="${param.success}">
            <div class="alert ">Te has registrado satifactoriamente</div>
        </div>
        <h1 >Registrarse</h1>
        <form th:action="@{/registration}" method="post" th:object="${users}" >
            <label for="fullname">Full Name</label>
            <input type="text" id="fullname" name="fullname" placeholder="Tu nombre completo.."
                   th:field="*{fullName}" required autofocus="autofocus">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Tu correo.."
                   th:field="*{email}" required autofocus="autofocus">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Tu password.."
                   th:field="*{password}" required autofocus="autofocus">
            <input type="submit" value="Registrar">
            <span>Si ya estas registrado pueder ir al <a href="/" th:href="@{/login}"> Login</a></span>
        </form>
    </div>
</body>
</html>